@import "../assets/scss/colors";
@import "../assets/scss/fonts";

#intro {
  color: $po-black;
  font-family: Hepta;
  letter-spacing: 0.2em;
  overflow: hidden;
  & #name {
    position: relative;
    top: 40%;
    left: 55%;
    font-size: 52px;
  }
  & .detail {
    &#address {
      margin-top: 5px;
      left: 46%;
    }
    &#fullstack {
      margin-top: 5px;
      margin-bottom: 40px;
      left: 50%;
    }
    &.contact {
      left: 55%;
    }
    position: relative;
    top: 40%;
    font-size: 30px;
  }

}
