<div [style.background-color]="bgColor" style="transition: all 2s ease-in;">
  <div id="intro" #intro class="po-page">
    <div id="name">Petra Orosz</div>
    <div class="detail" id="fullstack">full stack developer</div>
    <div class="detail contact" id="email">{{email}}</div>
    <div class="detail contact" id="phone">{{phone}}</div>
    <div class="detail" id="address">Den Haag, Nederlands</div>
  </div>
  <div #about_me class="po-page">
    <div class="picture-one">

    </div>
    <div class="text-one">
       </div>
    <div class="picture-two">

    </div>
    <div class="text-two">

    </div>
  </div>
  <div #companies class="po-page">
    <div>
      <div class="picture-one">
        <img src="../assets/images/pm_logo.png">
      </div>
      <div class="text-one">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas sapien in elit luctus, ac aliquam ex tristique. Etiam lacinia mi sed vehicula volutpat. Donec dignissim, enim eu gravida pretium, dolor tortor auctor turpis, ut malesuada massa risus in mi. Donec eu lacinia quam. Donec egestas rhoncus odio vitae pharetra. Duis ornare pulvinar lacus. Pellentesque imperdiet mattis sem, nec interdum magna iaculis vel. Fusce eu est eu urna auctor auctor. Morbi tellus nibh, interdum sit amet scelerisque in, euismod eu libero. Donec semper odio non leo gravida convallis. Nam rutrum nulla velit, vel ultricies elit lacinia tincidunt. Aliquam elit tellus, tristique non auctor non, semper at mauris.
      </div>
    </div>
    <div>
      <div class="picture-two">
        <img src="../assets/images/cnw_logo.png">
      </div>
      <div class="text-two">
        Quisque lobortis congue erat. Nunc euismod arcu ut nulla hendrerit, vitae tristique justo semper. Praesent cursus ut nisi a facilisis. Etiam ac elit vel sem viverra porta. Morbi placerat molestie diam, eu tempus nibh ullamcorper eu. Cras id lacus id risus luctus commodo. Nulla at arcu ornare, rhoncus lectus quis, feugiat est. Sed tristique urna leo, eu accumsan quam convallis id. Morbi pretium euismod urna, vitae tincidunt metus tempus nec. Pellentesque egestas nunc sed nisl egestas, vel molestie neque condimentum. Vestibulum facilisis vel neque in placerat. Proin id enim elementum, malesuada odio ac, pharetra sem. Mauris maximus ipsum sit amet felis mollis rhoncus. Mauris turpis purus, ornare id risus vel, ornare euismod ipsum.
      </div>
    </div>
  </div>
  <div #skills class="po-page">
    CNW AND PROGMASTER ARE COOL
  </div>
  <div #contact class="po-page">
    CNW AND PROGMASTER ARE COOL
  </div>
</div>
