/* You can add global styles to this file, and also import other style files */
@import "assets/scss/colors";
body {
  margin: 0;
  background-image: radial-gradient($po-gray, $po-light-blue);
}
.po-page {
  height: 100vh;
}
